* {
    background:     #0e1514;
    background-alt: #1a2120;
    foreground:     #dde4e2;
    selected:       #1c3532;
    selected-fg:    #003733;
    border-color:   #81d5cd;
    urgent:         #ffb4ab;
    active:         #afc9e7;
    placeholder:    #bec9c6;
    alternate:      #161d1c;
}