* {
    background:     #121318;
    background-alt: #1e1f25;
    foreground:     #e2e2e9;
    selected:       #293042;
    selected-fg:    #142f60;
    border-color:   #afc6ff;
    urgent:         #ffb4ab;
    active:         #dfbbde;
    placeholder:    #c5c6d0;
    alternate:      #1a1b20;
}