* {
  all: unset;
  font-family: "VictorMonoNerdFontPropo";
  font-style: italic;
  font-size: 13px;
  min-height: 0;
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #571d1e;
}

tooltip {
  background-color: #ffb3b0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes blink-workspace {
  to {
    background-color: #ffb3b0;
    color: #571d1e;
  }
}
@keyframes blink-battery {
  to {
    color: #690005;
    background-color: #ffb4ab;
  }
}
.modules-left #custom-left_div_1 {
  background-color: transparent;
  color: #ffb3b0;
  font-size: 20px;
}
.modules-left #workspaces {
  background-color: #ffb3b0;
  color: #571d1e;
  padding: 0 5px;
  font-size: 15px;
}
.modules-left #workspaces button {
  padding: 0 5px;
  transition: 0.2s all ease-in-out;
}
.modules-left #workspaces button:hover label {
  color: #ffdad8;
}
.modules-left #workspaces button:hover {
  background-color: #733333;
  transition: 0.2s all ease-in-out;
}
.modules-left #workspaces .active label {
  color: #ffb3b0;
}
.modules-left #workspaces .active {
  background-color: #571d1e;
}
.modules-left #workspaces .urgent {
  background-color: #904a49;
  animation-name: blink-workspace;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.modules-left #custom-left_div_2 {
  background-color: #ffb3b0;
  color: #e6bdba;
  font-size: 20px;
}
.modules-left #custom-cpu {
  background-color: #e6bdba;
  color: #442928;
  padding: 0 5px;
  font-size: 15px;
}
.modules-left #custom-cpu.low {
  color: darkolivegreen;
}
.modules-left #custom-cpu.mid {
  color: #baaa01;
}
.modules-left #custom-cpu.high {
  color: orangered;
}
.modules-left #custom-cpu.critical {
  color: #93000a;
}
.modules-left #custom-left_div_3 {
  background-color: #e6bdba;
  color: #442928;
  font-size: 20px;
}
.modules-left #memory {
  background-color: #e6bdba;
  color: darkolivegreen;
  padding: 0 5px;
  font-size: 15px;
}
.modules-left #memory.warning {
  color: #baaa01;
}
.modules-left #memory.critical {
  color: #93000a;
}
.modules-left #gamemode {
  background-color: #e6bdba;
  color: #442928;
  padding: 0 5px;
  font-size: 15px;
}
.modules-left #custom-left_div_4 {
  background-color: #e6bdba;
  color: #e3c28c;
  font-size: 20px;
}
.modules-left #window {
  background-color: #e3c28c;
  color: #412d05;
  padding: 0 5px;
  font-size: 15px;
}
.modules-left #window.empty {
  background-color: transparent;
}
.modules-left #custom-right_div_1 {
  background-color: transparent;
  color: #e3c28c;
  font-size: 20px;
}

.modules-center #custom-left_div_5 {
  background-color: transparent;
  color: #904a49;
  font-size: 20px;
  font-style: normal;
}
.modules-center #custom-center_div_1 {
  background-color: transparent;
  color: #412d05;
  font-size: 20px;
  font-style: normal;
}
.modules-center #pulseaudio,
.modules-center #custom-cava,
.modules-center #window {
  background-color: #904a49;
  color: #f0dedd;
  padding: 0 5px;
  font-size: 15px;
}
.modules-center #music {
  background-color: #904a49;
  color: #f0dedd;
  padding: 0 5px;
  font-size: 15px;
}
.modules-center #music label {
  color: #f0dedd;
}
.modules-center #music #mpris.main {
  margin-right: 5px;
}
.modules-center #music #custom-progress {
  background-color: #904a49;
  color: #f0dedd;
  padding: 0 5px;
  font-size: 15px;
}
.modules-center #custom-right_div_2 {
  background-color: transparent;
  color: #904a49;
  font-size: 20px;
}

.modules-right #custom-left_div_6 {
  background-color: transparent;
  color: #e3c28c;
  font-size: 20px;
}
.modules-right #custom-right_div_3 {
  background-color: #e3c28c;
  color: #412d05;
  font-size: 20px;
}
.modules-right #custom-bluetooth_battery {
  background-color: #e3c28c;
  color: #412d05;
  padding-left: 5px;
  font-size: 18px;
}
.modules-right #network {
  background-color: #e3c28c;
  color: #412d05;
  padding: 0 5px;
  font-size: 15px;
}
.modules-right #network.disconnected label, .modules-right #network.disabled label {
  color: #690005;
}
.modules-right #custom-right_div_4 {
  background-color: #e6bdba;
  color: #e3c28c;
  font-size: 20px;
}
.modules-right #custom-right_div_5 {
  background-color: #e6bdba;
  color: #442928;
  font-size: 20px;
}
.modules-right #idle_inhibitor {
  background-color: #e6bdba;
  color: #442928;
  padding: 0 5px;
  font-size: 15px;
}
.modules-right #idle_inhibitor.activated {
  color: darkolivegreen;
}
.modules-right #backlight {
  background-color: #e6bdba;
  color: #442928;
  padding: 0 5px;
  font-size: 15px;
}
.modules-right #battery {
  background-color: #e6bdba;
  color: #442928;
  padding: 0 5px;
  font-size: 15px;
}
.modules-right #battery.charging {
  color: darkolivegreen;
}
.modules-right #battery.warning:not(.charging) {
  color: #baaa01;
}
.modules-right #battery.critical:not(.charging) {
  animation-name: blink-battery;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.modules-right #custom-right_div_6 {
  background-color: #ffb3b0;
  font-size: 20px;
  color: #e6bdba;
}
.modules-right #clock {
  background-color: #ffb3b0;
  color: #571d1e;
  padding: 0 5px;
  font-size: 15px;
}
.modules-right #custom-right_div_7 {
  background-color: #ffb3b0;
  color: #571d1e;
  font-size: 20px;
}
.modules-right #group-power {
  background-color: #ffb3b0;
  color: #571d1e;
  padding: 0 5px;
  font-size: 15px;
}
.modules-right #group-power #custom-quit,
.modules-right #group-power #custom-lock,
.modules-right #group-power #custom-reboot {
  margin-right: 5px;
  font-size: 20px;
}
.modules-right #custom-right_div_8 {
  background-color: transparent;
  color: #ffb3b0;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
